version: "3"
volumes:
  pg-db-data:
services:
  postgres:
    image: 'postgres:11.2-alpine'
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg-db-data:/var/lib/postgresql/data
  adminer:
    image: 'adminer:4.7.1-standalone'
    restart: always
    ports:
      - 9090:8080
  symfony:
    build:
      dockerfile: Dockerfile
      context: ./
    ports:
        - 8080:80
  mailhog:
    image: mailhog/mailhog
    ports:
      - 8025:8025
