{% extends 'admin/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block main %}
    <h1 class="pb-2">Dashboard</h1>

    Stammdatenbank Personen {{persons|length}} <br>
    Angemeldete Personen {{enrollments|length}}

{% endblock %}
