{% extends 'admin/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block main %}
    <h1>Dashboard</h1>

    <h2>Projekte</h2>

    <h3>Burgdorfer Stadtlauf</h3>
    <div class="flex justify-between">
        <div class="flex-1 text-left">
            <h2> Personen Stammdaten </h2>
            <div>
                {% for person in persons %}
                 <div>
                     {{ person.firstname }} {{ person.lastname }} {{ person.email }}
                 </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex-1 ">
            <a href="{{ path("admin_mission_create") }}"><i class="fas fa-2x fa-plus-circle"></i></a> <h2 class="mt-3"> Einsätze</h2>
        </div>
    </div>

{% endblock %}
