{% extends 'admin/base.html.twig' %}

{% block title %} Mein Profil {% endblock %}

{% block main %}
   {{ user.username }}
   {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Passwort setzen" />
        </div>
    {{ form_end(form) }} 
</div>
{% endblock %}
