  a {
      color: black;
  }

  body {
    color: #6d6e71;
  }

  h1,h2,h3,h4,h5{
    color:#22292f;
  }

  h1{
    margin-bottom: .25rem;
    line-height: 1;
    font-weight: 600;
    font-size: 2.25rem;
  }

  h2{
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  } 


  .bg-burgdorf{
    background: #fff200;
  }

  .bg-burgdorf-light{
    background: #fffcb0;
  }

  .bg-burgdorf-grey{
    background: #6e6e70;
  }



  aside {
    display: block;
    position: relative;
    margin: 0 0;
  }
  
  aside h1 {
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #fff200;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
  }
  
  /* Class name via Modernizr */
 aside {
    border-left: 34px solid #fff200;
    padding-left: 10px;
  }
  aside h1 {
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 0;
    left: 0;
  
    /* Border is the new background */
    background: none;
  
    /* Rotate from top left corner (not default) */
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .form-group-error input,
  .form-group-error textarea,
  .form-group-error select{
    border-color:red !important;
  }
