{% extends 'admin/base.html.twig' %}

{% block title %}Neuer Einsatz{% endblock %}

{% block main %}
<div class="admin-form-card">
  <div class="form-header">
    <h1>Neuer Einsatz</h1>
    <p class="form-help">Lege Zeitfenster, Beschreibung, Kapazitaet und Projektzuordnung fest.</p>
  </div>
  {{ form(form) }}
</div>
{% endblock %}
