{% extends 'admin/base.html.twig' %}

{% block title %} Organisationen {% endblock %}

{% block main %}
    {% for organisation in organisations %}
      {{organisation.id}}  {{organisation.name}}  <a href="{{path('admin_organisation_select',{id:organisation.id})}}">select</a></br>
    {% endfor %}
{% endblock %}

